.noteContainer{
  & .submit{
    width:20%;
    margin:2rem;
    padding:2rem;
  }
  & .note{
    & .card{
      width:100%;
      border: 1px solid #0C6291;
      border-radius:2rem;
      margin:2rem;
      & p {
        padding-left:1rem;
        padding-bottom:2rem;
      }

    }
  }
  & .form{
    border-left:1px solid black;
    margin:2rem;
    padding:2rem;
  }
}


