:root{
  font-size: 62.5%;
  --text-default: 1.5rem;
  --text-title1: 3.6rem;
  --text-title2: 2.4rem;
  --text-title3: 1.8rem;
  --blue-color:#0C6291;
}

*{
  box-sizing: border-box;
}

body{
  font-size: 1.6rem;
  font-family: Laviossa-font;
}

.container{
  max-width:1500px;
  margin: 0 auto;
}

h1{
  font-size: 5rem;
  text-align: center;
font-size: var(--text-title1);
  color: var(--blue-color)

}
h2{
font-size: var(--text-title2);
  color: var(--blue-color)

}
h3{
font-size: var(--text-title13);
  color: var(--blue-color)
}

ul{
  margin:0;
  padding:0;
  list-style:none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
}

// flex

.flex{
  display:flex;
}

.jc-evenly {
  justify-content: space-evenly;
}

.jc-space-around {
  justify-content: space-around;
}

.jc-space-between {
  justify-content: space-between;
}

.jc-center {
  justify-content: center
}

.jc-end {
  justify-content: end;
}

.ai-center {
  align-items: center
}

.direction-column {
  flex-direction: column;
}
.direction-reverse {
  flex-direction: column-reverse;
}

.flex-wrap{
  flex-wrap: wrap;
}

// main input

input{
  padding:1rem;
  margin: 0 .4rem;

}

// font face

@font-face {
  font-family: "calligrapher-font";
  src: url("../../font/Calligrapher-JRxaE.ttf");
}

@font-face {
  font-family: "Laviossa-font";
  src: url("../../font/Laviossa-Medium.otf");
}

// button

.submit{
  all: unset;
  width: 50%;
  margin: 2rem auto;
  cursor: pointer;
  text-align: center;
  border: 1px solid #0C6291;
  border-radius: 1rem;
  padding:1rem 2rem;

  &:hover{
    background-color: #0C6291;
    color: #ffffff;
  }
}

// article cards

.container-cards{
  width:400px;
  margin:0 auto;
}

.buttonCard{
  margin:.5rem .2rem;
  padding:.5rem;
  & button{
    all:unset;
    width:20px;

  }
}




