//div {
//  & main {
//    width:70%;
//  }
//  & aside {
//    width:30%;
//    & form {
//      & input {
//        padding: 2rem;
//        margin: .5rem;
//      }
//    }
//  }
//}

.ressource{
  & .card{
    border:1px solid #0C6291;
    border-radius: 1.6rem;
    text-align: center;
    margin:2rem;
    & p {
      padding:1rem;
    }
  }
}
.form{
  width:30%;
  border-left:1px solid black;
  margin:2rem;
  padding:2rem;
}