.ressourceUser{
  & .submit{
    all:unset;
    margin:1rem;
    padding:1.5rem 2rem ;
    border:1px solid var(--blue-color);
    color : var(--blue-color);
    border-radius: 50%;
    &:hover{
      background-color: var(--blue-color);
      color: #ffffff;
    }
  }
  & .ressource {
    & .card{
      border:2px solid #0C6291;
      border-radius: 1.6rem;
      text-align: center;
      margin:2rem;
      position: relative;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      & p {
        padding:1rem;
        text-align: start;
    }
      & .title{
        text-align: center;
        font-weight: bold;
      }
      & .url{
        text-align: center;
        font-weight: bold;
      }

  }}
  & .form{
    border-left:1px solid #333333;
    margin:2rem;
    padding:2rem;
    & .categorie{
      all: unset;
      border-bottom: 1px solid var(--blue-color) ;
      border-left: 1px solid var(--blue-color);
      padding: 2rem;
      margin:.5rem
    }
  }
}

@media screen and (min-width: 800px) {
  .ressourceUser{
    & .ressource {
      & .categorieRessource {
      display: flex;
        flex-wrap: wrap;
        justify-content: start;
        & .card {
        width:45%;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .ressourceUser{
    & .ressource {
      & .categorieRessource {
        justify-content: center;
        & .card {
          width:23%;
        }
      }
    }
  }
}

